apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .spec.appName }}-data
  namespace: {{ .spec.namespace }}
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: {{ default "gp3" .spec.pvc.storageClassName }}
  resources:
    requests:
      storage: {{ default "10Gi" .spec.pvc.size }}
